<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Polo_Popup::popup" title="Popup Menu" module="Polo_Popup" sortOrder="51" resource="Polo_Popup::popup"/>

        <add id="Polo_Popup::popup_tool" title="Tools" translate="title" module="Polo_Popup" sortOrder="10" resource="Polo_Popup::popup_tool"  parent="Polo_Popup::popup"/>

        <add id="Polo_Popup::popup_image_upload" title="Image Upload" module="Polo_Popup" sortOrder="20"  action="polo/popup/index" resource="Polo_Popup::image_upload" parent="Polo_Popup::popup"/>

        <add id="Polo_Popup::popup_image_upload_list" title="Uploaded Image" module="Polo_Popup" sortOrder="30"  action="polo/post" resource="Polo_Popup::popup_image_upload_list" parent="Polo_Popup::popup"/>

        <add id="Polo_Popup::popup_configuration" title="Configuration" module="Polo_Popup" sortOrder="99" parent="Polo_Popup::popup" action="adminhtml/system_config/edit/section/popup" resource="Polo_Popup::popup_configuration"/>

          </menu>

</config>
